
<nav>
    <ul class="menu">
        <li>
            <a href="/" aria-label="Go to home"<%- current == '/'?' class=\"active\"':'' %>>
                <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.9888 9.40207C22.8579 9.27689 22.6838 9.20703 22.5028 9.20703C22.3217 9.20703 22.1476 9.27689 22.0167 9.40207L5.83606 24.8594C5.76734 24.9251 5.71267 25.0041 5.67536 25.0916C5.63805 25.1791 5.61886 25.2732 5.61897 25.3683L5.61633 39.8755C5.61633 40.6214 5.91265 41.3368 6.4401 41.8642C6.96754 42.3917 7.68291 42.688 8.42883 42.688H16.8751C17.2481 42.688 17.6058 42.5399 17.8695 42.2761C18.1332 42.0124 18.2814 41.6547 18.2814 41.2818V29.3286C18.2814 29.1422 18.3554 28.9633 18.4873 28.8314C18.6192 28.6996 18.798 28.6255 18.9845 28.6255H26.0157C26.2022 28.6255 26.3811 28.6996 26.5129 28.8314C26.6448 28.9633 26.7189 29.1422 26.7189 29.3286V41.2818C26.7189 41.6547 26.867 42.0124 27.1308 42.2761C27.3945 42.5399 27.7522 42.688 28.1251 42.688H36.5679C37.3138 42.688 38.0292 42.3917 38.5566 41.8642C39.0841 41.3368 39.3804 40.6214 39.3804 39.8755V25.3683C39.3805 25.2732 39.3613 25.1791 39.324 25.0916C39.2867 25.0041 39.232 24.9251 39.1633 24.8594L22.9888 9.40207Z" fill="white"/>
                    <path d="M43.1464 21.9585L36.5722 15.6691V6.125C36.5722 5.75204 36.424 5.39436 36.1603 5.13063C35.8966 4.86691 35.5389 4.71875 35.1659 4.71875H30.9472C30.5742 4.71875 30.2165 4.86691 29.9528 5.13063C29.6891 5.39436 29.5409 5.75204 29.5409 6.125V8.93751L24.4503 4.07012C23.974 3.58848 23.2656 3.3125 22.5 3.3125C21.7371 3.3125 21.0305 3.58848 20.5541 4.071L1.8598 21.9568C1.31312 22.4841 1.24456 23.3516 1.74203 23.9229C1.86695 24.0671 2.0199 24.1844 2.19158 24.2676C2.36327 24.3508 2.55009 24.3982 2.74067 24.4069C2.93126 24.4156 3.12163 24.3855 3.30019 24.3183C3.47875 24.2511 3.64177 24.1482 3.77933 24.016L22.0166 6.58907C22.1475 6.46389 22.3216 6.39403 22.5027 6.39403C22.6837 6.39403 22.8578 6.46389 22.9887 6.58907L41.2278 24.016C41.4964 24.2737 41.8563 24.4143 42.2285 24.4071C42.6007 24.3998 42.9548 24.2453 43.2132 23.9774C43.7529 23.4184 43.708 22.4955 43.1464 21.9585Z" fill="white"/>
                </svg>
            </a>
            <p>Home</p>
        </li>
        <li>
            <a href="/testing" aria-label="Go to testing"<%- current == '/testing'?' class=\"active\"':'' %>>
                <svg width="43" height="44" viewBox="0 0 43 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_145_326)">
                        <path d="M37.4958 19.5269H34.7772C34.725 19.5269 34.675 19.5062 34.6382 19.4693C34.6013 19.4325 34.5806 19.3825 34.5806 19.3304V11.7387C34.5806 10.7257 34.1782 9.75427 33.4619 9.03799C32.7456 8.32171 31.7742 7.91931 30.7612 7.91931H23.1696C23.1174 7.91931 23.0674 7.8986 23.0306 7.86174C22.9937 7.82487 22.973 7.77487 22.973 7.72274V5.00414C22.973 2.33665 20.8598 0.103586 18.1923 0.0573917C17.546 0.0460379 16.904 0.163505 16.3036 0.40294C15.7032 0.642374 15.1565 0.998981 14.6953 1.45195C14.2342 1.90493 13.8679 2.4452 13.6178 3.04124C13.3678 3.63728 13.2389 4.27716 13.2387 4.92355V7.72274C13.2387 7.77487 13.218 7.82487 13.1811 7.86174C13.1443 7.8986 13.0943 7.91931 13.0421 7.91931H5.4505C4.41868 7.92242 3.43 8.33369 2.70039 9.0633C1.97078 9.79292 1.55951 10.7816 1.5564 11.8134V18.7308C1.5564 18.7829 1.57711 18.8329 1.61397 18.8698C1.65084 18.9067 1.70083 18.9274 1.75297 18.9274H4.39785C7.28452 18.9274 9.67386 21.4317 9.71416 24.3184C9.75544 27.2542 7.40345 29.9354 4.47648 29.9354H1.75297C1.70083 29.9354 1.65084 29.9562 1.61397 29.993C1.57711 30.0299 1.5564 30.0799 1.5564 30.132V37.0494C1.55951 38.0812 1.97078 39.0699 2.70039 39.7995C3.43 40.5291 4.41868 40.9404 5.4505 40.9435H12.3679C12.42 40.9435 12.47 40.9228 12.5069 40.8859C12.5438 40.8491 12.5645 40.7991 12.5645 40.7469V38.6898C12.5645 35.7137 14.997 33.1514 17.9702 33.0816C20.9286 33.0128 23.5725 35.0778 23.5725 38.0234V40.7469C23.5725 40.7991 23.5932 40.8491 23.6301 40.8859C23.667 40.9228 23.717 40.9435 23.7691 40.9435H30.7612C31.7742 40.9435 32.7456 40.5411 33.4619 39.8248C34.1782 39.1085 34.5806 38.1371 34.5806 37.1241V29.4578C34.5806 29.4056 34.6013 29.3556 34.6382 29.3188C34.675 29.2819 34.725 29.2612 34.7772 29.2612H37.5764C40.292 29.2612 42.4435 27.033 42.4435 24.3076C42.4435 21.5821 40.1632 19.5269 37.4958 19.5269Z" fill="white"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_145_326" x="0.556396" y="0.0566406" width="41.8871" height="43.887" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="-1" dy="3"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.303725 0 0 0 0 0.493401 0 0 0 0 0.718094 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_145_326"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_145_326" result="shape"/>
                    </filter>
                    </defs>
                </svg>
            </a>
            <p>Testing</p>
        </li>
        <li>
            <a href="/lessons" aria-label="Go to lessons"<%- current == '/lessons'?' class=\"active\"':'' %>>
                <svg width="45" height="47" viewBox="0 0 45 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_1_605)">
                    <path d="M22.5 14.5623C23.9063 9.01109 29.2175 6.17662 40.7813 6.12477C40.9661 6.12407 41.1493 6.15997 41.3202 6.23039C41.4912 6.30081 41.6465 6.40437 41.7772 6.53509C41.9079 6.66581 42.0115 6.82111 42.0819 6.99204C42.1523 7.16297 42.1882 7.34615 42.1875 7.53102V32.8435C42.1875 33.2165 42.0394 33.5742 41.7756 33.8379C41.5119 34.1016 41.1542 34.2498 40.7813 34.2498C29.5313 34.2498 25.1851 36.5182 22.5 39.8748C19.8308 36.5349 15.4688 34.2498 4.21876 34.2498C3.3504 34.2498 2.81251 33.5422 2.81251 32.6739V7.53102C2.81181 7.34615 2.84771 7.16297 2.91813 6.99204C2.98856 6.82111 3.09212 6.66581 3.22284 6.53509C3.35356 6.40437 3.50886 6.30081 3.67979 6.23039C3.85072 6.15997 4.03389 6.12407 4.21876 6.12477C15.7825 6.17662 21.0938 9.01109 22.5 14.5623Z" fill="white" stroke="white" stroke-width="2.8125" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22.5 14.5625V39.875" stroke="white" stroke-width="2.8125" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_1_605" x="0" y="0.5" width="45" height="50.625" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="5.625"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.270588 0 0 0 0 0.101961 0 0 0 0 0.811765 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_605"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_605" result="shape"/>
                    </filter>
                    </defs>
                </svg>                   
            </a>
            <p>Lessons</p> 
        </li>
        <li>
            <a href="/statistics" aria-label="Go to statistics"<%- current == '/statistics'?' class=\"active\"':'' %>>
                <svg width="45" height="48" viewBox="0 0 45 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_1_609)">
                        <path d="M2.8125 3.3125V41.2812C2.8125 41.6542 2.96066 42.0119 3.22438 42.2756C3.4881 42.5393 3.84579 42.6875 4.21875 42.6875H42.1875" stroke="white" stroke-width="2.8125" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
                    </g>
                    <g filter="url(#filter1_d_1_609)">
                        <path d="M13.7109 20.1875H10.1953C9.2245 20.1875 8.4375 20.9745 8.4375 21.9453V35.3047C8.4375 36.2755 9.2245 37.0625 10.1953 37.0625H13.7109C14.6818 37.0625 15.4688 36.2755 15.4688 35.3047V21.9453C15.4688 20.9745 14.6818 20.1875 13.7109 20.1875Z" fill="white"/>
                    </g>
                    <g filter="url(#filter2_d_1_609)">
                    <path d="M26.3672 15.9688H22.8516C21.8807 15.9688 21.0938 16.7557 21.0938 17.7266V35.3047C21.0938 36.2755 21.8807 37.0625 22.8516 37.0625H26.3672C27.338 37.0625 28.125 36.2755 28.125 35.3047V17.7266C28.125 16.7557 27.338 15.9688 26.3672 15.9688Z" fill="white"/>
                    </g>
                    <g filter="url(#filter3_d_1_609)">
                    <path d="M38.9923 10.3438H35.4767C34.5059 10.3438 33.7189 11.1307 33.7189 12.1016V35.3047C33.7189 36.2755 34.5059 37.0625 35.4767 37.0625H38.9923C39.9631 37.0625 40.7501 36.2755 40.7501 35.3047V12.1016C40.7501 11.1307 39.9631 10.3438 38.9923 10.3438Z" fill="white"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_1_609" x="0.40625" y="1.90625" width="43.1875" height="45.1875" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="-1" dy="3"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0.027451 0 0 0 0 0.513726 0 0 0 0 0.466667 0 0 0 1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_609"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_609" result="shape"/>
                    </filter>
                    <filter id="filter1_d_1_609" x="7.4375" y="20.1875" width="8.03125" height="19.875" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="-1" dy="3"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.0290943 0 0 0 0 0.511813 0 0 0 0 0.465098 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_609"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_609" result="shape"/>
                    </filter>
                    <filter id="filter2_d_1_609" x="20.0938" y="15.9688" width="8.03125" height="24.0938" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="-1" dy="3"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.0290943 0 0 0 0 0.511813 0 0 0 0 0.465098 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_609"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_609" result="shape"/>
                    </filter>
                    <filter id="filter3_d_1_609" x="32.7189" y="10.3438" width="8.03125" height="29.7188" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dx="-1" dy="3"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.0290943 0 0 0 0 0.511813 0 0 0 0 0.465098 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_609"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_609" result="shape"/>
                    </filter>
                    </defs>
                </svg>                    
            </a>
            <p>Statistics</p>
        </li>
        <li>
            <a href="/profile" aria-label="Go to profile"<%- current == '/profile'?' class=\"active\"':'' %>>
                <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_1_614)">
                    <path d="M30.4935 13.1562C30.149 17.803 26.6264 20.1875 22.7592 20.1875C18.892 20.1875 15.3632 17.8039 15.0248 13.1562C14.6732 8.32227 18.101 4.71875 22.7592 4.71875C27.4174 4.71875 30.8451 8.41016 30.4935 13.1562Z" fill="white"/>
                    <path d="M30.4935 13.1562C30.149 17.803 26.6264 20.1875 22.7592 20.1875C18.892 20.1875 15.3632 17.8039 15.0248 13.1562C14.6732 8.32227 18.101 4.71875 22.7592 4.71875C27.4174 4.71875 30.8451 8.41016 30.4935 13.1562Z" stroke="white" stroke-width="2.8125" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <g filter="url(#filter1_d_1_614)">
                    <path d="M22.5002 25.8125C14.8537 25.8125 7.09299 30.0313 5.65685 37.9941C5.48371 38.9539 6.02687 39.875 7.03146 39.875H37.969C38.9744 39.875 39.5176 38.9539 39.3444 37.9941C37.9074 30.0313 30.1467 25.8125 22.5002 25.8125Z" fill="white"/>
                    <path d="M22.5002 25.8125C14.8537 25.8125 7.09299 30.0313 5.65685 37.9941C5.48371 38.9539 6.02687 39.875 7.03146 39.875H37.969C38.9744 39.875 39.5176 38.9539 39.3444 37.9941C37.9074 30.0313 30.1467 25.8125 22.5002 25.8125Z" stroke="white" stroke-width="2.8125" stroke-miterlimit="10"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_1_614" x="13.5938" y="3.3125" width="18.3308" height="21.2813" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="3"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.917587 0 0 0 0 0.468523 0 0 0 0 0.369173 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_614"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_614" result="shape"/>
                    </filter>
                    <filter id="filter1_d_1_614" x="4.21899" y="24.4062" width="36.5634" height="19.875" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="3"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0.917587 0 0 0 0 0.468523 0 0 0 0 0.369173 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_614"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_614" result="shape"/>
                    </filter>
                    </defs>
                </svg>                
            </a>
            <p>Profile</p>
        </li>   
    </ul>

    <button aria-label="close menu" class="menu-button menu">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.49997 25.125L25.1248 3.50024" stroke="#282828" stroke-width="4.58731" stroke-linecap="round"/>
            <path d="M3.49997 3.49997L25.1248 25.1248" stroke="#282828" stroke-width="4.58731" stroke-linecap="round"/>
        </svg>        
    </button>
</nav>

<button aria-label="open menu" class="menu-button home">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.6666 23.3333C27.1803 23.3335 27.6741 23.5314 28.0458 23.8858C28.4176 24.2403 28.6387 24.7241 28.6633 25.2372C28.688 25.7502 28.5144 26.2531 28.1784 26.6416C27.8424 27.0301 27.3699 27.2744 26.8586 27.324L26.6666 27.3333H5.33331C4.81969 27.333 4.32585 27.1352 3.95413 26.7807C3.58241 26.4263 3.3613 25.9424 3.33661 25.4294C3.31193 24.9164 3.48557 24.4135 3.82155 24.025C4.15753 23.6365 4.63009 23.3922 5.14131 23.3426L5.33331 23.3333H26.6666ZM26.6666 14C27.1971 14 27.7058 14.2107 28.0809 14.5857C28.4559 14.9608 28.6666 15.4695 28.6666 16C28.6666 16.5304 28.4559 17.0391 28.0809 17.4142C27.7058 17.7892 27.1971 18 26.6666 18H5.33331C4.80288 18 4.29417 17.7892 3.9191 17.4142C3.54403 17.0391 3.33331 16.5304 3.33331 16C3.33331 15.4695 3.54403 14.9608 3.9191 14.5857C4.29417 14.2107 4.80288 14 5.33331 14H26.6666ZM26.6666 4.66663C27.1971 4.66663 27.7058 4.87734 28.0809 5.25241C28.4559 5.62749 28.6666 6.13619 28.6666 6.66663C28.6666 7.19706 28.4559 7.70577 28.0809 8.08084C27.7058 8.45591 27.1971 8.66663 26.6666 8.66663H5.33331C4.80288 8.66663 4.29417 8.45591 3.9191 8.08084C3.54403 7.70577 3.33331 7.19706 3.33331 6.66663C3.33331 6.13619 3.54403 5.62749 3.9191 5.25241C4.29417 4.87734 4.80288 4.66663 5.33331 4.66663H26.6666Z" fill="#F8F8F8"/>
    </svg>
</button>